# Gather Section (20 Questions, 40 Marks)

You should have access to a file called TMDB.db. The first step to answering this set of questions will be to connect to this db file to access the data. 

![SQL Architectures](https://raw.githubusercontent.com/Explore-AI/Public-Data/master/image/TMDB_ERD.JPG)

Before we start we need to load our SQL magic commands (we only need do this once per notebook):

In [1]:
%load_ext sql

*Note: we have to prepend a Jupyter notebook cell with `%%sql` in order to run a SQL query. Place your code in the '# Your code here' lines. If you experience trouble connecting to the .db file, please ensure that you have the `pymysql` and `ipython-sql` packages installed. Also ensure that `sqlalchemy` is pinned at a version <2.*


Based on that data, answer the following questions:


### Question 11
What is the code you can use to connect to the TMBD database that is saved in the same location with the Jupyter notebook?


**sqlite:///TMDB.db**

In [2]:
%%sql 

sqlite:///TMDB.db

### Question 12
What is the primary key for the table “movies”?

**movie_id**

### Question 13
How many foreign keys does the “languagemap” table have?

**2**

### Question 14
What code would you use to set up a view of all movies that did not get released?

In [3]:
%%sql 

CREATE VIEW Not_Released AS 

SELECT 
    * 
FROM 
    movies 
WHERE 
    release_status <> 'Released'

 * sqlite:///TMDB.db
(sqlite3.OperationalError) view Not_Released already exists
[SQL: CREATE VIEW Not_Released AS

SELECT
    *
FROM
    movies
WHERE
    release_status <> 'Released']
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [4]:
%%sql
SELECT * FROM Not_Released

 * sqlite:///TMDB.db
Done.

[(40963, 'Little Big Top', '2006-01-01 00:00:00.000000', 0, None, 'en', 'Little Big Top', 'An aging out of work clown returns to his small hometown, resigned to spend the rest of his days in a drunken stupor. But when his passion for clowning is reawakened by the local amateur circus he finds his smile.', 0.0921, 0.0, 0.0, 'Rumored', None, 10.0, 1),
 (43630, 'The Helix... Loaded', '2005-01-01 00:00:00.000000', 0, None, 'en', 'The Helix... Loaded', ' ', 0.0206, 0.0, 97.0, 'Rumored', None, 4.8, 2),
 (50875, 'Higher Ground', '2011-08-26 00:00:00.000000', 2000000, 'http://www.sonyclassics.com/higherground/', 'en', 'Higher Ground', "A chronicle of one woman's lifelong struggle with her faith.", 1.699101, 841733.0, 109.0, 'Post Production', None, 5.3, 14),
 (57294, 'Crying with Laughter', '2009-06-01 00:00:00.000000', 0, None, 'en', 'Crying with Laughter', 'Powerfully redemptive and darkly comedic revenge thriller set in the vicious world of stand-up comedy, starring Stephen McCole and Malcolm Shields.', 0.108135, 0.0, 93.0, 'Rumored', 'A Bad Trip Down Memory Lane', 7.0, 1),
 (70875, 'The Harvest (La Cosecha)', '2011-07-29 00:00:00.000000', 56000, 'http://www.facebook.com/theharvestfilm', 'en', 'The Harvest (La Cosecha)', 'The story of the children who work 12-14 hour days in the fields without the protection of child labor laws. These children are not toiling in the fields in some far away land. They are working in America.', 0.010909, 0.0, 80.0, 'Rumored', None, 0.0, 0),
 (84659, 'The Naked Ape', '2006-09-16 00:00:00.000000', 0, None, 'en', 'The Naked Ape', 'The Naked Ape is a coming-of-age film following three teenagers on a road trip across the Pacific Southwest.', 0.077577, 0.0, 110.0, 'Rumored', None, 5.0, 1),
 (295886, 'Brotherly Love', '2015-04-24 00:00:00.000000', 1900000, None, 'en', 'Brotherly Love', 'West Philadelphia basketball star Sergio Taylor deals with the pressures of fame while his brother and sister have their own issues with ambition.', 1.367751, 0.0, 89.0, 'Post Production', None, 6.9, 21),
 (357837, "Dancin' It's On", '2015-10-16 00:00:00.000000', 0, 'https://www.facebook.com/eastsidestorymovie', 'cs', "Dancin' It's On", "This coming of age Dance Film, in the spirit of Dirty Dancing, Karate Kid, and High School Musical - is about a young girl from Beverly Hills, Jennif ... (322 characters truncated) ... preparing for the contest, Jennifer and Ken must overcome scheming dance partners, a meddling father, and their own doubts for their love to prevail.", 0.186234, 0.0, 89.0, 'Post Production', "Dancin' Like You've Never Seen Before", 4.3, 2)]

### Question 15
How would you select only the title, release date, and release status columns from the view you created in the previous question?

In [5]:
%%sql 
SELECT 
    title, 
    release_date,
    release_status 
FROM 
    Not_Released

 * sqlite:///TMDB.db
Done.

[('Little Big Top', '2006-01-01 00:00:00.000000', 'Rumored'),
 ('The Helix... Loaded', '2005-01-01 00:00:00.000000', 'Rumored'),
 ('Higher Ground', '2011-08-26 00:00:00.000000', 'Post Production'),
 ('Crying with Laughter', '2009-06-01 00:00:00.000000', 'Rumored'),
 ('The Harvest (La Cosecha)', '2011-07-29 00:00:00.000000', 'Rumored'),
 ('The Naked Ape', '2006-09-16 00:00:00.000000', 'Rumored'),
 ('Brotherly Love', '2015-04-24 00:00:00.000000', 'Post Production'),
 ("Dancin' It's On", '2015-10-16 00:00:00.000000', 'Post Production')]

### Question 16
How many movies are no longer using their original titles?

In [6]:
%%sql 
SELECT 
    COUNT(*) 
FROM 
    movies 
WHERE 
    title <> original_title;

 * sqlite:///TMDB.db
Done.

[(261,)]

### Question 17
What is the most popular movie that was made after 01/01/2000 with a budget of more than $100 000 000? (Hint: Use the popularity field in the Movies table. Larger numbers are more popular.)

In [7]:
%%sql 
SELECT 
    title,
    popularity
FROM 
    movies
WHERE 
    release_date > '2000-01-01'
    AND budget > 100000000
ORDER BY 
    popularity DESC
LIMIT 5;

 * sqlite:///TMDB.db
Done.

[('Interstellar', 724.247784),
 ('Guardians of the Galaxy', 481.098624),
 ('Mad Max: Fury Road', 434.278564),
 ('Jurassic World', 418.708552),
 ('Pirates of the Caribbean: The Curse of the Black Pearl', 271.972889)]

### Question 18
How many movies are there that do not have English as their original language?

In [8]:
%%sql 
SELECT
    COUNT(*)
FROM
    movies
WHERE
    original_language <> "en"

 * sqlite:///TMDB.db
Done.

[(298,)]

%%sql 
SELECT DISTINCT
    original_language
FROM
    movies

### Question 19
How many movies in the database were produced by Pixar Animation Studios?

In [9]:
%%sql 

SELECT 
    COUNT(*)
FROM 
    movies m
JOIN 
    ProductionCompanyMap pcm 
    ON m.movie_id = pcm.movie_id
JOIN 
    ProductionCompanies pc 
    ON pcm.production_company_id = pc.production_company_id
WHERE 
    pc.production_company_name = 'Pixar Animation Studios';

 * sqlite:///TMDB.db
Done.

[(16,)]

### Question 20
How many movies are in the database that are both a Romance and a Comedy?

In [10]:
%%sql 

SELECT 
    COUNT(DISTINCT m.movie_id) AS number_of_movies
FROM 
    movies m
JOIN 
    GenreMap gm1 
    ON m.movie_id = gm1.movie_id
JOIN 
    Genres g1 
    ON gm1.genre_id = g1.genre_id
JOIN 
    GenreMap gm2 
    ON m.movie_id = gm2.movie_id
JOIN 
    Genres g2 
    ON gm2.genre_id = g2.genre_id
WHERE 
    g1.genre_name = 'Romance' 
    AND g2.genre_name = 'Comedy'

 * sqlite:///TMDB.db
Done.

[(484,)]

### Question 21
What is the most popular action movie that has some German in it? (Hint: The German word for German is Deutsch)

In [11]:
%%sql 

SELECT 
    m.title, 
    m.popularity
FROM 
    Movies m
JOIN 
    LanguageMap lm 
    ON m.movie_id = lm.movie_id
JOIN 
    Languages l 
    ON lm.iso_639_1 = l.iso_639_1
JOIN 
    GenreMap gm 
    ON m.movie_id = gm.movie_id
JOIN 
    Genres g 
    ON gm.genre_id = g.genre_id
WHERE 
    g.genre_name = 'Action' 
    AND l.language_name = 'Deutsch'
ORDER BY 
    m.popularity DESC
LIMIT 1;

 * sqlite:///TMDB.db
Done.

[('Captain America: Civil War', 198.372395)]

### Question 22
In how many movies did Tom Cruise portray the character Ethan Hunt?

In [12]:
%%sql 

SELECT 
    COUNT(*)
FROM 
    Movies m
JOIN 
    Casts c 
    ON m.movie_id = c.movie_id
JOIN 
    Actors a 
    ON c.actor_id = a.actor_id
WHERE 
    a.actor_name = 'Tom Cruise' 
    AND c.characters = 'Ethan Hunt'

 * sqlite:///TMDB.db
Done.

[(5,)]

### Question 23 
How many times was the actress Cate Blanchett nominated for an Oscar?

In [13]:
%%sql 

SELECT COUNT(*)
FROM Oscars
WHERE name = 'Cate Blanchett';

 * sqlite:///TMDB.db
Done.

[(7,)]

In [14]:
%%sql

SELECT * from oscars WHERE name = 'Cate Blanchett'

 * sqlite:///TMDB.db
Done.

[('1998', 'Actress in a Leading Role', None, 'Cate Blanchett', 'Elizabeth'),
 ('2004', 'Actress in a Supporting Role', '1.0', 'Cate Blanchett', 'The Aviator'),
 ('2006', 'Actress in a Supporting Role', None, 'Cate Blanchett', 'Notes on a Scandal'),
 ('2007', 'Actress in a Leading Role', None, 'Cate Blanchett', 'Elizabeth: The Golden Age'),
 ('2007', 'Actress in a Supporting Role', None, 'Cate Blanchett', "I'm Not There"),
 ('2013', 'Actress in a Leading Role', '1.0', 'Cate Blanchett', 'Blue Jasmine'),
 ('2015', 'Actress in a Leading Role', None, 'Cate Blanchett', 'Carol')]

### Question 24
How many movies contain at least one of the official South African Languages, Afrikaans or Zulu?

In [15]:
%%sql 

SELECT 
    COUNT(DISTINCT m.movie_id)
FROM 
    Movies m
JOIN 
    LanguageMap lm 
    ON m.movie_id = lm.movie_id
JOIN 
    Languages l 
    ON lm.iso_639_1 = l.iso_639_1
WHERE 
   l.language_name LIKE '%Afrikaans%'
    OR  l.language_name LIKE '%Zulu%'

 * sqlite:///TMDB.db
Done.

[(8,)]

In [16]:
%%sql 

SELECT 
   *
FROM 
    languages

 * sqlite:///TMDB.db
Done.

[('af', 'Afrikaans', None),
 ('am', None, None),
 ('ar', '???????', None),
 ('bg', '????????? ????', None),
 ('bm', 'Bamanankan', None),
 ('bn', '?????', None),
 ('bo', None, None),
 ('br', None, None),
 ('bs', 'Bosanski', None),
 ('ca', 'Catala', None),
 ('ce', None, None),
 ('cn', '??? / ???', None),
 ('co', None, None),
 ('cs', '?esk²', None),
 ('cy', 'Cymraeg', None),
 ('da', 'Dansk', None),
 ('de', 'Deutsch', None),
 ('dz', None, None),
 ('el', '????????', None),
 ('en', 'English', None),
 ('eo', 'Esperanto', None),
 ('es', 'Espa±ol', None),
 ('et', 'Eesti', None),
 ('fa', '?????', None),
 ('fi', 'suomi', None),
 ('fr', 'Frantais', None),
 ('ga', 'Gaeilge', None),
 ('gd', None, None),
 ('gl', 'Galego', None),
 ('he', '????????', None),
 ('hi', '??????', None),
 ('hr', 'Hrvatski', None),
 ('hu', 'Magyar', None),
 ('hy', None, None),
 ('id', 'Bahasa indonesia', None),
 ('is', '-slenska', None),
 ('it', 'Italiano', None),
 ('iu', None, None),
 ('ja', '???', None),
 ('ka', '???????', None),
 ('kk', '?????', None),
 ('km', None, None),
 ('ko', '???/???', None),
 ('ku', None, None),
 ('kw', None, None),
 ('ky', '??????', None),
 ('la', 'Latin', None),
 ('mi', None, None),
 ('ml', None, None),
 ('mn', None, None),
 ('ne', None, None),
 ('nl', 'Nederlands', None),
 ('no', 'Norsk', None),
 ('nv', None, None),
 ('ny', None, None),
 ('pa', '??????', None),
 ('pl', 'Polski', None),
 ('ps', '????', None),
 ('pt', 'PortuguOs', None),
 ('ro', 'RomGn?', None),
 ('ru', 'P??????', None),
 ('sa', None, None),
 ('sh', None, None),
 ('si', None, None),
 ('sk', 'Sloven?ina', None),
 ('sl', 'SlovenÜ?ina', None),
 ('so', 'Somali', None),
 ('sq', 'shqip', None),
 ('sr', 'Srpski', None),
 ('st', None, None),
 ('sv', 'svenska', None),
 ('sw', 'Kiswahili', None),
 ('ta', '?????', None),
 ('te', '??????', None),
 ('th', '???????', None),
 ('tl', None, None),
 ('to', None, None),
 ('tr', 'Tnrkte', None),
 ('uk', '???????????', None),
 ('ur', '????', None),
 ('vi', 'Ti?ng Vi?t', None),
 ('wo', 'Wolof', None),
 ('xh', None, None),
 ('xx', 'No Language', None),
 ('yi', None, None),
 ('zh', 'Chinese', None),
 ('zu', 'isiZulu', None)]

### Question 25
Which of the movies mentioned above is the most popular?

In [17]:
%%sql 

SELECT 
    title, 
    popularity
FROM 
    Movies 
WHERE 
    title IN ("Blood Diamond", "Gangster's Paradise: Jerusalema", "Tsotsi", "District 9")
ORDER BY 
    popularity DESC

 * sqlite:///TMDB.db
Done.

[('District 9', 63.13678),
 ('Blood Diamond', 52.792678),
 ('Tsotsi', 2.504169),
 ("Gangster's Paradise: Jerusalema", 1.717376)]

### Question 26
What would be the code to change the name of the language with the ‘zh’ iso code in the “language” table to ‘Chinese’?

In [18]:
%%sql 

UPDATE languages 
SET language_name = 'Chinese' WHERE iso_639_1 = 'zh'

 * sqlite:///TMDB.db
1 rows affected.

[]

### Question 27
What would be the code to insert a new genre called ‘Sport’ with an id of 10?

In [19]:
%%sql 

INSERT INTO genres (genre_id, genre_name) VALUES (10, 'Sport');

 * sqlite:///TMDB.db
(sqlite3.IntegrityError) UNIQUE constraint failed: genres.genre_id
[SQL: INSERT INTO genres (genre_id, genre_name) VALUES (10, 'Sport');]
(Background on this error at: https://sqlalche.me/e/20/gkpj)

In [20]:
%%sql

SELECT DISTINCT
    genre_name
FROM
    genres

 * sqlite:///TMDB.db
Done.

[('Sport',),
 ('Adventure',),
 ('Fantasy',),
 ('Animation',),
 ('Drama',),
 ('Horror',),
 ('Action',),
 ('Comedy',),
 ('History',),
 ('Western',),
 ('Thriller',),
 ('Crime',),
 ('Documentary',),
 ('Science Fiction',),
 ('Mystery',),
 ('Music',),
 ('Romance',),
 ('Family',),
 ('War',),
 ('Foreign',),
 ('TV Movie',)]

### Question 28 
You have just watched The Flintstones movie and did not find it very funny. What code would delete the entry that links The Flintstones to the Comedy genre?

In [21]:
%%sql 

DELETE FROM genremap WHERE genre_id = 35 AND movie_id = 888

 * sqlite:///TMDB.db
1 rows affected.

[]

### Question 29
What code will give the 10 most recently released movies in the database?

In [22]:
%%sql 

SELECT
    * 
FROM 
    movies 
ORDER BY 
    release_date DESC 
LIMIT 10;

 * sqlite:///TMDB.db
Done.

[(426469, 'Growing Up Smith', '2017-02-03 00:00:00.000000', 0, 'http://www.growingupsmithmovie.com', 'en', 'Growing Up Smith', '"In 1979, an Indian family moves to America with hopes of living the American Dream. While their 10-year-old boy Smith falls head-over-heels for the girl next door, his desire to become a ""good old boy"" propels him further away from his family\'s ideals than ever before."', 0.71087, 0.0, 102.0, 'Released', 'ItÆs better to stand out than to fit in.', 7.4, 7),
 (325373, 'Two Lovers and a Bear', '2016-10-02 00:00:00.000000', 0, None, 'en', 'Two Lovers and a Bear', 'Set in a small town near the North Pole where roads lead to nowhere, the story follows Roman and Lucy, two burning souls who come together to make a leap for life and inner peace.', 3.139294, 0.0, 96.0, 'Released', None, 6.8, 27),
 (374461, 'Mr. Church', '2016-09-16 00:00:00.000000', 8000000, None, 'en', 'Mr. Church', 'A unique friendship develops when a little girl and her dying mother inherit a cook - Mr. Church. What begins as an arrangement that should only last six months, instead spans fifteen years.', 7.828459, 0.0, 104.0, 'Released', 'He was the one person she could always count on.', 7.0, 129),
 (339408, 'The Birth of a Nation', '2016-09-09 00:00:00.000000', 8500000, 'http://www.foxsearchlight.com/thebirthofanation/', 'en', 'The Birth of a Nation', 'Nat Turner, a former slave in America, leads a liberation movement in 1831 to free African-Americans in Virgina that results in a violent retaliation from whites.', 9.452808, 15861566.0, 120.0, 'Released', 'The Untold Story of Nat Turner', 6.5, 178),
 (385736, 'Kicks', '2016-09-09 00:00:00.000000', 0, 'http://www.focusfeatures.com/kicks', 'en', 'Kicks', 'When his hard-earned kicks get snatched by a local hood, fifteen-year old Brandon and his two best friends go on an ill-advised mission across the Bay Area to retrieve the stolen sneakers.', 3.467923, 0.0, 80.0, 'Released', "They aren't just shoes", 7.5, 18),
 (332285, 'Antibirth', '2016-09-02 00:00:00.000000', 35000000, None, 'en', 'Antibirth', 'In a desolate community full of drug-addled Marines and rumors of kidnapping, a wild-eyed stoner named Lou wakes up after a crazy night of partying with symptoms of a strange illness and recurring visions. As she struggles to get a grip on reality, the stories of conspiracy spread.', 3.674294, 0.0, 94.0, 'Released', None, 4.8, 40),
 (184341, 'Hands of Stone', '2016-08-26 00:00:00.000000', 20000000, None, 'en', 'Hands of Stone', "The legendary Roberto Duran and his equally legendary trainer Ray Arcel change each other's lives.", 7.444189, 0.0, 105.0, 'Released', 'No mßs. No surrender.', 6.1, 109),
 (271969, 'Ben-Hur', '2016-08-17 00:00:00.000000', 100000000, 'http://www.benhurmovie.com/', 'en', 'Ben-Hur', 'A falsely accused nobleman survives years of slavery to take vengeance on his best friend who betrayed him.', 29.608322, 94061311.0, 125.0, 'Released', 'First to finish. Last to die.', 5.3, 621),
 (294272, "Pete's Dragon", '2016-08-10 00:00:00.000000', 65000000, 'http://movies.disney.com/petes-dragon-2016', 'en', "Pete's Dragon", 'Pete is a mysterious 10-year-old with no family and no home who claims to live in the woods with a giant, green dragon named Elliott. With the help o ... (42 characters truncated) ... r Jack owns the local lumber mill, forest ranger Grace sets out to determine where Pete came from, where he belongs, and the truth about this dragon.', 31.974359, 143695338.0, 102.0, 'Released', 'Some secrets are too big to keep.', 6.2, 679),
 (297761, 'Suicide Squad', '2016-08-02 00:00:00.000000', 175000000, 'http://www.suicidesquad.com/', 'en', 'Suicide Squad', 'From DC Comics comes the Suicide Squad, an antihero team of incarcerated supervillains who act as deniable assets for the United States government, undertaking high-risk black ops missions in exchange for commuted prison sentences.', 90.23792, 745000000.0, 123.0, 'Released', 'Worst Heroes Ever', 5.9, 7458)]

In [29]:
%%sql

SELECT 
    TOP 10 *
FROM 
    movies 
ORDER BY 
    release_date DESC

 * sqlite:///TMDB.db
(sqlite3.OperationalError) near "10": syntax error
[SQL: SELECT
    TOP 10 *
FROM
    movies
ORDER BY
    release_date DESC]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

### Question 30
What code would you use to add a column to the language table that could be used for the English names of the different languages?

In [83]:
%%sql 

ALTER TABLE languages ADD language_english_name varchar(50);

 * sqlite:///TMDB.db
Done.

[]

In [84]:
%%sql

SELECT * FROM languages

 * sqlite:///TMDB.db
Done.

[('af', 'Afrikaans', None),
 ('am', None, None),
 ('ar', '???????', None),
 ('bg', '????????? ????', None),
 ('bm', 'Bamanankan', None),
 ('bn', '?????', None),
 ('bo', None, None),
 ('br', None, None),
 ('bs', 'Bosanski', None),
 ('ca', 'Catala', None),
 ('ce', None, None),
 ('cn', '??? / ???', None),
 ('co', None, None),
 ('cs', '?esk²', None),
 ('cy', 'Cymraeg', None),
 ('da', 'Dansk', None),
 ('de', 'Deutsch', None),
 ('dz', None, None),
 ('el', '????????', None),
 ('en', 'English', None),
 ('eo', 'Esperanto', None),
 ('es', 'Espa±ol', None),
 ('et', 'Eesti', None),
 ('fa', '?????', None),
 ('fi', 'suomi', None),
 ('fr', 'Frantais', None),
 ('ga', 'Gaeilge', None),
 ('gd', None, None),
 ('gl', 'Galego', None),
 ('he', '????????', None),
 ('hi', '??????', None),
 ('hr', 'Hrvatski', None),
 ('hu', 'Magyar', None),
 ('hy', None, None),
 ('id', 'Bahasa indonesia', None),
 ('is', '-slenska', None),
 ('it', 'Italiano', None),
 ('iu', None, None),
 ('ja', '???', None),
 ('ka', '???????', None),
 ('kk', '?????', None),
 ('km', None, None),
 ('ko', '???/???', None),
 ('ku', None, None),
 ('kw', None, None),
 ('ky', '??????', None),
 ('la', 'Latin', None),
 ('mi', None, None),
 ('ml', None, None),
 ('mn', None, None),
 ('ne', None, None),
 ('nl', 'Nederlands', None),
 ('no', 'Norsk', None),
 ('nv', None, None),
 ('ny', None, None),
 ('pa', '??????', None),
 ('pl', 'Polski', None),
 ('ps', '????', None),
 ('pt', 'PortuguOs', None),
 ('ro', 'RomGn?', None),
 ('ru', 'P??????', None),
 ('sa', None, None),
 ('sh', None, None),
 ('si', None, None),
 ('sk', 'Sloven?ina', None),
 ('sl', 'SlovenÜ?ina', None),
 ('so', 'Somali', None),
 ('sq', 'shqip', None),
 ('sr', 'Srpski', None),
 ('st', None, None),
 ('sv', 'svenska', None),
 ('sw', 'Kiswahili', None),
 ('ta', '?????', None),
 ('te', '??????', None),
 ('th', '???????', None),
 ('tl', None, None),
 ('to', None, None),
 ('tr', 'Tnrkte', None),
 ('uk', '???????????', None),
 ('ur', '????', None),
 ('vi', 'Ti?ng Vi?t', None),
 ('wo', 'Wolof', None),
 ('xh', None, None),
 ('xx', 'No Language', None),
 ('yi', None, None),
 ('zh', 'Chinese', None),
 ('zu', 'isiZulu', None)]